    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 700;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #333;
    padding: 24px;
    margin: 15px;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #333;    
    padding: 18px;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    padding: 0 15px;
}
.marg-right {
    
}
.navbar-toggle .icon-bar+.icon-bar {
    background: #333;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.carousel-control.left {
    background-image: none !important;
    background-repeat: repeat-x;
    }
    .carousel-control.right {
    background-image: none !important;
    background-repeat: repeat-x; */
}
.home {
    position: relative;
    top: 10px;
    float: left;
    width: 150px;
    z-index: 9;
}
/*----------------*/
.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}




/*--------*/
.nav-link {
    font-size: 12px;
    padding: 10px;
}
.navbar-toggler {
    margin-right: 15px;
}
.img-block {
    display: block;
    width: 100%;
}
.nav-back {
    background-color: #fff;
    height: 60px;
}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
    color: #333;
}
a.mark-2 {
    color: #fff;
}
li > a {
    position: relative;
    color: #8c8c8c;
    font-size: 12px;
    float: left;
    text-align: left;
}

.lg-top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0; 
    color: #333;
}
.lg-top-text-b {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0; 
    color: #333;
}
.sm-top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400; 
    padding: 15px 15px 15px 0;  
    color: #333;
}
.push-down {
    position: relative;
    top: 2px;
}
.green {
    color: #7ED321;
}
.pad-50 {
    padding-top: 50px !important;
}
.pad-100 {
    padding: 100px 0;
}
.pad-100 {
    padding: 100px 0;
}
.pad-bot-50 {
    height: 100%;
    padding-bottom: 10%;
}

.left {
    text-align: left;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}
.left-off {
    margin-left: 0px;
    padding-left: 0px;
}

.pad-50b {
    padding: 50px 30px 50px 30px;
}
.pad-50c {
    padding: 100px 0px 15px 0px;
}
.pad-200 {
    padding-top: 150px;
}

.pad-45 {
    padding-top: 42px;
}
.pad-b {
    padding: 15px 0;
}
.pad-left-15 {
    padding-left: 0px;
}
.margin-off {
    margin: 0px !important;
}
.padding-15 {
    padding: 15px;
}

.padding-30 {
    padding: 30px;
}
.marg-15 {
    margin: 0 15px;
}
.marg-15b {
    margin: 15px 0;
}
.marg-50 {
    margin: 50px auto;

}
.padding-50-bt {
    padding: 50px 0;
}
.pad-13 {
    padding-bottom: 13px !important;
}
.padding-15b {
    padding: 0 15px;
}
.padding-15c {
    padding: 15px 0;
}
.padding-15d {
    padding: 50px 15px;
}
.text-sm {
    font-size: 12px;
}
.car-down {
    margin-top: 50px;
}
.bg-light {
    background-color: #f7f7f7;
}
.bg-dark {
    background-color: #333333 !important;
    color: #fff;
}

.hov-1 {
    box-shadow: 0px 1px 2px #ddd;
}
.hov-1:hover {
    box-shadow: 0px 2px 5px #d2d2d2;
}
.bg-grey {
    background-color: #292b2c;
    color: #fff;
}
.lg {
    color: #91dc40;
}
.center-block {
    margin: 0 auto;
    float: none !important;
    text-align: center;
}
.center {
    margin: 0 auto;  
    float: none !important;      
}
.bl {
    color: #333;
}
.back-white {
    background-color: #fff;
}
.wt {
    color: #fff;
}
.blk {
    color: #333;
}
.bg-wt {
    background-color: #fff; 
}
.banner {
    position: relative;
    left: -15px;
    font-size: 9px;
}
.banner-2 {
    position: relative;
    left: -15px;
    font-size: 9px;    
}
.weight {
    font-family: 'Montserrat', sans-serif;    
    font-weight: 900;
}

.btn-2 {
    width: 150px;
}
.btn-3 {
    bottom: 0px;
}
.btn-x {
    display: inline-block;
    border-radius: 35px;
    color: #fff;
    background-color: #64a71b;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, .1);
    font-family: "Montserrat", sans-serif;
    padding: 0.563em 1.125em 0.563em 0.813em;    
    font-size: 16px;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase;
}
.btn-x:hover {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.563em 1.125em 0.563em 0.813em;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #579217;
    transition: all 0.15s 
}
.btn-s {
    display: inline-block;
    border-radius: 35px;
    color: #fff;
    background-color: #009fff;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, .1);
    font-family: "Montserrat", sans-serif;
    padding: 0.563em 1.125em 0.563em 0.813em;    
    font-size: 16px;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase;
}
.btn-s:hover  {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.563em 1.125em 0.563em 0.813em;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: #337ab7;
    transition: all 0.15s 
}
.btn-primary {
    background-color: #333;
    color: #fff;
}
.arrow {
    width: 20px;
    margin: 0 15px;    
}
.icons {
    width: 30px;
    margin: 0 15px;
}

.bg-green {
    background-color: #84C441;
}
.bg-drk-green {
    background-color: #5B882C;
    height: 65px;
}
.move-up {
    position: relative;
    top: -15px;
}
.padding-off {
    padding: 0px;
}

.take-15 {
    height: 211px;
}
.position-move-115 {
    position: relative;
    top: 80px;
}
.number, .number-4  {
    max-width: 180px;
    width: 100%;
}
.number-4 {
    position: relative;
    top: -15px;
}
.btn-secondary {
    background-color: #fff;
    color: #333;
}
.width-245 {
    width: 245px;
}
.underline {
    border-bottom: 1px solid #333;
}
.underline-2 {
    border-bottom: 1px solid #fff;
}
.navbar-nav {
    background-color: #fff;
}
a.nav-item {
    margin: 0 15px;
}
.hero {
    background-image: url("../images/hero.jpg");
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 62.5%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px){ 
nav {
    height: 60px;
}    
h1 {
    font-size: 36px;
    padding: 24px;
    margin: 15px;
    color: #333;
}
h2 {
    font-size: 24px;
    padding: 15px;
    color: #333;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 15px;
}
.padding-off-desk {
    padding: 0px;
}
.lg-top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}
.sm-top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.text {
    line-height: 1.0em;
}


.hover-1:hover {
    background-color: #6da534;
    transition-duration: .5s;
}
}
@media screen and (min-width: 1000px){ 
.col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32.333333%;
    -ms-flex: 0 0 32.333333%;
    flex: 0 0 32.333333%;
    max-width: 32.333333%;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.col-lg-3b {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 20%; 
    max-width: 25%;
    margin: 15px;
}

}
@media (min-width: 1200px) {
.marg-lg-left-5 {
    margin-left: 5%;
}
@media (min-width: 1500px) {
   .container {
    width: 1370px;
} 
}
/*Large devices (large desktops, 1200px and up) */
@media (min-width: 2800px) {
.lg-top-text {
    font-size: 3.5em;
}
.sm-top-text {
    font-size: 2.0em;
}

}
